<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insta_stotry_demo">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.example.insta_stotry_demo"
        android:handleProfiling="true"
        android:functionalTest="true"/>
</manifest>
